@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color:#ead9ed;
    font-family: 'Nunito', sans-serif;
}

:root {
    --color-poc: tomato;
}

app-element::part(hello) {
    font-size: x-large;
}

app-element p {
    font-size: x-large;
}
